h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ms Madi";
  font-weight: 400;
}

h2 {
  font-size: 56px;
  color: #253232;
  text-align: center;
  margin-bottom: 30px;
}

p,
a,
button,
input,
label {
  display: block;
  font-family: "Mali" !important;
  font-size: 18px !important;
  font-weight: 400;
}

button:hover,
button:focus {
  background-color: #3d4a4a !important;
  color: #fff !important;
  border-color: #fff !important;
}

/**
  |============================
  | Header
  |============================
*/

.header {
  background-color: transparent !important;
}

.header-icon {
  fill: white;
}

.nav-link {
  color: white !important;
}

.btn-outline-success,
.form-control {
  color: white;
  border: 2px solid white;
  background-color: transparent !important;
}

.form-control::placeholder {
  color: white;
}

.header-btn {
  margin-left: 20px;
  color: #253232;
  background-color: white;
  border: 2px solid white;
}

/**
  |============================
  | Hero
  |============================
*/

.banding {
  height: 690px;
  background-image: radial-gradient(
      65.98% 65.97% at 50% 50%,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 60.39996147155762%,
      rgba(0, 0, 0, 0.4) 84.39996242523193%,
      rgba(0, 0, 0, 0.4) 97.39996194839478%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(./img/hero/hero-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  padding: 220px 0;
}

.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-size: 80px;
  color: #fff;
  margin-bottom: 32px !important;
}

.btn-primary {
  font-size: 20px;
  color: #253232;
  padding: 11px 48px 13px !important;
  background-color: #fff;
  border-radius: 20px;
  border: none;
}

/**
  |============================
  | Advan
  |============================
*/

.advan {
  padding: 60px 0;
}

.advan-title {
}

.card {
  padding: 29px 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #253232;
  border-radius: 20px;
}
.card-body {
  padding: 0 !important;
}

.card-title {
  font-size: 40px;
  margin-bottom: 10px !important;
  color: #253232;
}
.card-text {
  max-width: 206px;
  color: #3d4a4a;
}

.advan-icon {
  fill: none;
  stroke: #253232;
  stroke-width: 1;
  margin-bottom: 21px;
}

/**
  |============================
  | About
  |============================
*/

.about {
  padding: 60px 0;
}
.about .row {
  align-items: center;
}

.about-text {
  text-align: start;
}

/**
  |============================
  | Rewiers
  |============================
*/

.rewies {
  padding: 60px 0;
}

.rewiers-subtitle {
  font-size: 32px !important;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus {
  background-color: transparent !important;
}
.carousel-control-next:hover,
.carousel-control-next:focus {
  background-color: transparent !important;
}

/**
  |============================
  | Best-sellers
  |============================
*/

.top {
  padding: 60px 0;
}

.top-card {
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #253232;
}

.top-body {
  padding-bottom: 20px;
}

.top-subtitle {
  font-size: 36px;
  margin-bottom: 4px !important;
}

.top-text {
  color: #3d4a4a;
}

.top-btn {
  background-color: #253232;
  color: #fff;
}

.top-btn:hover,
.top-btn:focus {
  background-color: #3d4a4a !important;
  color: #fff !important;
  border-color: #fff !important;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  background-color: #253232 !important;
  padding: 20px !important;
}

/**
  |============================
  | Modal
  |============================
*/

.modal-title {
  font-size: 36px !important;
}

.modal-input,
.modal-coment {
  border: 1px solid #253232;
}

.modal-input::placeholder,
.modal-coment::placeholder {
  color: #3d4a4a;
  font-family: "Mali" !important;
  font-size: 14px !important;
}

.modal-footer-btn {
  margin: 0 auto;
  background-color: #253232;
  color: #fff;
}

.btn-close:hover,
.btn-close:focus {
  background-color: transparent !important;
}
